* {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-attachment: fixed;
  background-image: url('./images/background-overlay-final.png');
  background-repeat: no-repeat center center fixed;
  background-size: 200%;
}

::-webkit-scrollbar {
  height: 8px;
  overflow: visible;
  width: 0px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #3D9970;
  outline: 1px solid slategrey;
  border: 1px solid #808080;
  border-radius: 0;
}

header {
  color: #F0EAD6;
  text-align: center;
  padding-top: 9px;
  height: 50px;
  background: #3D9970;
  border-bottom: 1px solid #808080;
}

#current-selected-slide {
  height: 640px;
  max-width: 100%
}

#single-slide-container {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 10px;
}

/* for cycle left and right buttons */
.cycle {
  height: auto;
  width: 50px;
  margin-bottom: 4px;
	border: 0;
	font-size: 100%;
	line-height: 1;
	text-decoration: none;
	color: #F0EAD6;
	background: rgba(0, 0, 0, .4);
	cursor: pointer;
}

.cycle:hover {
  background: rgba(0, 0, 0, .6);
}

#caption-container {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: -60px;
  margin-bottom: 30px;
}

#caption {
  background: rgba(250, 250, 250, .5);
  padding: 10px;
  padding-top: 9px;
  font-weight: bold;
}

#show-hide-button-container {
  display: flex;
  justify-content: center;
}

input[type="button"] {
  font-size: 100%;
  font-family: inherit;
  border-radius: 0;
  border: 1px solid #808080;
  background-color: #F0EAD6;
  -webkit-appearance: button;
}

.thumbs-container {
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin-top: 5px;
  border-top: 1px solid #808080;
  overflow: scroll;
  /* scroll momentum on mobile */
  -webkit-overflow-scrolling: touch;
}

.thumbnail {
  margin: 3px;
  width: auto;
  height: 80px;
}

.thumbnail:hover {
  border-bottom: 8px solid black;
  margin-top: -5px;
}

#selected-thumb {
  border-bottom: 8px solid black;
  margin-top: -5px;
}

.hidden-image-preload {
  display: hidden;
}

/* media queries for smaller / mobile displays */
@media only screen and (max-width: 1280px) {
  #current-selected-slide {
    height: 420px;
    max-width: 100%
  }
}

@media only screen and (max-width: 900px) {
  #current-selected-slide {
    height: 360px;
    max-width: 100%
  }
}

@media only screen and (max-width: 700px) {
  #current-selected-slide {
    height: 260px;
    max-width: 100%
  }

  .cycle {
    width: 30px;
  }

  .thumbs-container {
    margin-top: 100px;
  }
}


@media only screen and (max-width: 500px) {

  body {
    background-size: 400%;
  }

  #single-slide-container {
    height: auto;
    max-width: 100%;
    margin-top: 100px;
  }

  .cycle {
    width: 30px;
  }

  #caption {
    background: rgba(250, 250, 250, .4);
    padding: 10px;
    padding-top: 9px;
  }

  input[type="button"] {
    font-size: 75%;
    border: 1px solid black;
    padding: 5px;
  }

  .thumbnail {
    margin: 3px;
    height: 90px;
    width: auto;
  }

}

/* image preloads for more efficient picture load time*/
#preload-1 { background: url(./images/autumn-1280.png) no-repeat -9999px -9999px; }
#preload-2 { background: url(./images/black-forest-1920.png) no-repeat -9999px -9999px; }
#preload-3 { background: url(./images/boat-1920.png) no-repeat -9999px -9999px; }
#preload-4 { background: url(./images/branches.svg) no-repeat -9999px -9999px; }
#preload-5 { background: url(./images/dawn-1920.png) no-repeat -9999px -9999px; }
#preload-6 { background: url(./images/evening-1280.png) no-repeat -9999px -9999px; }
#preload-7 { background: url(./images/evening-sky-1920.png) no-repeat -9999px -9999px; }
#preload-8 { background: url(./images/forest-1920.png) no-repeat -9999px -9999px; }
#preload-9 { background: url(./images/hills-1920.png) no-repeat -9999px -9999px; }
#preload-10 { background: url(./images/landscape-1-1920.png) no-repeat -9999px -9999px; }
#preload-11 { background: url(./images/landscape-2-1920.png) no-repeat -9999px -9999px; }
#preload-12 { background: url(./images/landscape-3-1920.png) no-repeat -9999px -9999px; }
#preload-13 { background: url(./images/landscape-4-1920.png) no-repeat -9999px -9999px; }
#preload-14 { background: url(./images/scotland-1920.png) no-repeat -9999px -9999px; }
#preload-15 { background: url(./images/tree-1.svg) no-repeat -9999px -9999px; }
#preload-16 { background: url(./images/tree-2.svg) no-repeat -9999px -9999px; }
#preload-17 { background: url(./images/tree-3.svg) no-repeat -9999px -9999px; }
#preload-18 { background: url(./images/trees-1920.png) no-repeat -9999px -9999px; }
#preload-19 { background: url(./images/yellowstone-1920.png) no-repeat -9999px -9999px; }
#preload-20 { background: url(./images/zion-1920.png) no-repeat -9999px -9999px; }
#preload-21 { background: url(./images/road-1920.png) no-repeat -9999px -9999px; }
